.paginate {
    align-items: center;
    background-color: magenta;
    color: white;
    display: flex;
    height: 100px;
    font-weight: 700;
    justify-content: center;
    width: 200px;
    z-index: 5;
}